body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
  margin: 30px;
  text-align: center;
}

.student-info {
  color: #0d47a1;
  margin-bottom: 8px;
}

.question {
  font-size: 15px;
  font-weight: normal;
  color: #374151;
  margin-bottom: 30px;
  line-height: 1.5;
}

h1 {
  color: #0f52ba;
  margin-bottom: 10px;
}

.subtitle {
  color: #334155;
  font-size: 16px;
  margin-bottom: 20px;
}

.controls {
  margin-bottom: 25px;
}

label {
  margin: 0 10px;
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

button:hover {
  background-color: #1e40af;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

#lineChart, #histChart {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px;
  max-width: 600px;
  width: 100%;
}

.result-text {
  font-size: 17px;
  color: #0f172a;
  margin-bottom: 30px;
}

.explanation {
  max-width: 700px;
  margin: auto;
  text-align: justify;
  font-size: 17px;
  line-height: 1.7;
}

.explanation h2 {
  text-align: center;
  color: #0d47a1;
}
